@media (min-width: 500px){
    .login{
        background-image: url(../../img/background.png);
        background-repeat: no-repeat;
        background-size: inherit;
        background-position-y: -10vh;
    
    }
}

@media only screen and (max-width: 499px){
    .login{
        background-image: url(../../img/background_cell.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}