code {
    background-color: #272822;
    color: #f8f8f2;
    border-radius: 0.3rem;
}

pre code {
  white-space: inherit;
}

pre {
  background-color: #272822;
  padding: 5px;
  border-radius: 0.3em;
  color: #f8f8f2 !important;
  font-weight: bold;
  font-size: 15px !important;
}