.contentLogin{
    margin-top: 30vh;
}

.cinza{
    background-color: #abeafe;
}

.hrWhite{
    background-color: #fff;
    opacity: 0.2;
}

.opacityCards{
    opacity: 0.5;
}

.bgMultiColor{
    background-color: #A69B00;
}

.click{
    cursor: pointer;
}